@{
    ViewBag.Title = "Help";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <br />
    <div id="featuresList">
        <address>
            <strong>Phone:</strong>+64290456897<br />
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        </address>
    </div>
</main>
